@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Caveat", sans-serif;
  /* background-color: rgb(177, 95, 253); */
}
body{
  margin: 0px;
  padding:0px;
}




